@model PhoneStore.ViewModels.PhoneListViewModel
@{
	
	ViewData["Title"] = "Show all phones";
}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>All Phones</h2>

	<h3>@Model.CurrentCompany</h3>
	@{
		foreach (var phone in Model.Phones)
		{

			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<div class="img-thumbnail">
						<img class="img-responsive" src="~/images/@phone.ImageUrl" />
					</div>
					<div class="caption">
						<h3 class="pull-right">@phone.Price.ToString("c")</h3>
						<h3>
							<a>@phone.Title</a>
						</h3>
						<p>@phone.Description</p>
						<p>@phone.ImagesUrl</p>
					</div>
				</div>
			</div>
			
		}
	}
</body>
</html>